---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import { headerData } from '~/navigation';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

const appStoreImg = '~/assets/images/app-store.png';
const appStoreDownloadLink = 'https://github.com/onwidget/astrowind';

const googlePlayImg = '~/assets/images/google-play.png';
const googlePlayDownloadLink = 'https://github.com/onwidget/astrowind';

const metadata = {
  title: 'The Adventures of Captain Petey',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="left"
      links={[
        { text: 'Features', href: '#' },
        { text: 'About', href: '#' },
        { text: 'Blog', href: 'blog' },
      ]}

      actions={[
        {
          text: 'Download',
          href: '#download',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    image={{
      src: 'https://images.unsplash.com/photo-1535303311164-664fc9ec6532?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Help <span class="text-accent dark:text-white highlight">Captain Petey</span> <br /> on his journey 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Use your body to keep Petey in shape so he can escape his desert island.
      </span>
      As he evolves, you'll unlock new challenges and adventures.
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </Hero2>

  <!-- Features3 Widget ************** -->

  <Features3
    id="features"
    title="Let's help Petey!"
    subtitle="Petey the Capybara got stranded on a desert island and needs help to get in shape so he can resume is adventures. Use your mobile phone's camera to accompany Petey through a series of stretches and other exercises to gear up for adventure."
    tagline="mission 1"
    columns={2}
    items={[
      {
        title: 'Download and install the app',
        description: `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.`,
        icon: 'tabler:square-number-1',
      },
      {
        title: 'Shake to open coconuts',
        description:
          'Quisque in lorem vel arcu bibendum tincidunt sed nec justo.',
        icon: 'tabler:square-number-2',
      },
      {
        title: 'Play with Petey',
        description: 'Vestibulum fermentum sapien eu risus venenatis, eget faucibus nunc.',
        icon: 'tabler:square-number-3',
      },
      {
        title: 'Level up and explore',
        description: `Integer euismod nunc sit amet felis pharetra, a aliquet metus.`,
        icon: 'tabler:square-number-4',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1521517407911-565264e7d82d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: '250+ activities',
        description:
          'Integer euismod nunc sit amet felis pharetra, a aliquet metus.',
        icon: 'tabler:wand',
      },
      {
        title: 'Motion-based controls',
        description:
          'Integer euismod nunc sit amet felis pharetra, a aliquet metus.',
        icon: 'tabler:settings',
      },
      {
        title: 'Personalize Petey',
        description:
          'Integer euismod nunc sit amet felis pharetra, a aliquet metus.',
        icon: 'tabler:template',
      },
      {
        title: 'Suit your lifestyle',
        description: 'Integer euismod nunc sit amet felis pharetra, a aliquet metus.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1576153192621-7a3be10b356e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Reminders',
        description: 'Integer euismod nunc sit amet felis pharetra, a aliquet metus.',
        icon: 'tabler:wifi-off',
      },
      {
        title: 'Location based activities',
        description:
          'Integer euismod nunc sit amet felis pharetra, a aliquet metus.',
        icon: 'tabler:file-download',
      },
      {
        title: 'Share progress across devices',
        description: 'Integer euismod nunc sit amet felis pharetra, a aliquet metus.',
        icon: 'tabler:refresh',
      },
      {
        title: 'Customize your training',
        description: `Integer euismod nunc sit amet felis pharetra, a aliquet metus.`,
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1453738773917-9c3eff1db985?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Other features</h3>
    </Fragment>
  </Content>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Petey's KPIs"
    stats={[
      { amount: '20K', icon: 'tabler:download' },
      { amount: '18.5K', icon: 'tabler:users' },
      { amount: '4.7', icon: 'tabler:user-star' },
    ]}
  />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="What our users say?"
    testimonials={[
      {
        testimonial: `It's made exploring and downloading website templates a breeze. The interface is intuitive, and I had no trouble finding the perfect template for my project. It's an app that truly empowers users.`,
        name: 'Cary Kennedy',
        job: 'Film director',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `The app's seamless download process and intuitive layout have made selecting templates an enjoyable experience. Being able to preview and experiment with different designs before committing has saved me time and ensured I get the perfect look for my website.`,
        name: 'Josh Wilkinson',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          'I was able to download and use a professional website template within minutes. The step-by-step process and user-friendly interface made it easy for me to create a website that looks as if it was designed by a pro.',
        name: 'Sidney Hansen',
        job: 'Decorator',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Read more testimonials',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Questions for the Captain?"
    items={[
      {
        title: 'What is Petey?',
        description:
          'Integer euismod nunc sit amet felis pharetra, a aliquet metus.',
      },
      {
        title: 'Why does he need my help',
        description:
          'Integer euismod nunc sit amet felis pharetra, a aliquet metus.',
      },
      {
        title: 'Is my video saved or sent to servers?',
        description: `Integer euismod nunc sit amet felis pharetra, a aliquet metus.`,
      },
      {
        title: 'What if I am not in shape?',
        description:
          'Integer euismod nunc sit amet felis pharetra, a aliquet metus.',
      },
      {
        title: 'Is this an exercise app?',
        description:
          'Integer euismod nunc sit amet felis pharetra, a aliquet metus.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="download"
    title="Download Captain Petey now!"
    subtitle="Use your camera to help Petey get in shape for more adventures."
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </CallToAction>
</Layout>
